<h1>Sample App</h1>
<p>
This is the home page for
<a href="http://4shared.com/">Downloading Books for Free</a>
sample application.
</p>
<%= link_to "Sign up now!" , '#' , :class => "signup_button round" %>
